html, body {
  font-family: 'Patua One';
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #38324e;
}

#game-canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

#game-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  color: white;
  font-size: 22px;
  margin-top: 7px;
  margin-bottom: 7px;
}

input[type="submit"],
input[type="reset"],
button {
  font-family: 'Patua One';
  width: 240px;
  height: 32px;
  color: white;
  background: indigo;
  border: 1px solid white;
  margin-top: 7px;
  margin-bottom: 7px;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
  transition: 0.15s transform;
}

input[type="submit"]:active,
input[type="reset"]:active,
button:active {
  transform: scale(0.95);
}

input[type="submit"]:disabled,
input[type="reset"]:disabled,
button:disabled {
  background: gray;
}

.btn-frameless {
  background: transparent;
  border: none;
  text-transform: lowercase;
}

.btn-frameless:disabled {
  background: transparent;
  color: gray;
}

#mining {
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background: indigo;
  border: 1px solid white;
  text-align: center;
}

#mining td {
  min-width: 80px;
}

#mining--wasm {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
