.NumberDisplay {
  position: relative;
  width: 115px;
  height: 22px;
  text-align: right;
  color: white;
  padding-left: 5px;
  padding-right: 20px;
  border-radius: 4px;
  border: 2px solid #09141d;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#272f37+0,272f37+30,09141d+31,09141d+100 */
  background: #09141d; /* Old browsers */
  background: -moz-linear-gradient(top, rgba(39,47,55,0.8) 0%, rgba(39,47,55,0.8) 30%, rgba(9,20,29,0.8) 31%, rgba(9,20,29,0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(39,47,55,0.8) 0%,rgba(39,47,55,0.8) 30%,rgba(9,20,29,0.8) 31%,rgba(9,20,29,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(39,47,55,0.8) 0%,rgba(39,47,55,0.8) 30%,rgba(9,20,29,0.8) 31%,rgba(9,20,29,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272f37', endColorstr='#09141d',GradientType=0 ); /* IE6-9 */
}
