<html>
<body>
    <p>
        Someone has requested a password reset for your account.
    </p>
    
    <p>
        If you would like to reset your password please click
        <a href="{{CLIENT_URL}}/reset-password/{{passwordToken}}">
            {{CLIENT_URL}}/reset-password/{{passwordToken}}
        </a>.
    </p>

    <p>If you did not request the password reset simply ignore this email.</p>
</body>
</html>
