<html>
<body>
    <p>
        We are excited to have you onboard!
    </p>

    <p>
        Please confirm your registration by clicking the link
        <a href="{{CLIENT_URL}}/verification/{{verificationToken}}">
            {{CLIENT_URL}}/verification/{{verificationToken}}
        </a>.
    </p>

    <p>If you did not register an account simply ignore this email.</p>
</body>
</html>
