<html>
    <body>
        <form method="POST" action="/reset-password/{{passwordToken}}">
            <label for="new-password">
                New Password
            </label>
            <input id="new-password"
                name="new-password"
                type="password"
                placeholder="New Password"
                autocomplete="off"
                required
            />
            <br>
            <input type="submit" />
        </form>
    </body>
</html>
