<html>
    <body>
        <form method="POST" action="/reset-password/{{passwordToken}}">
            <input type="password" name="password" />
            <input type="submit" />
        </form>
    </body>
</html>
