.InputText {
  display: block;
  font-family: 'Patua One';
  width: 240px;
  height: 32px;
  color: indigo;
  background: white;
  border: 1px solid indigo;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 18px;
}
